body {
  background-image: url(../images/bg.png);
  margin: 0; }

.navBar {
  border-top: 1em solid #525252;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding-bottom: 1.5em; }
  .navBar .menuContainer {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bold; }
    .navBar .menuContainer h1 {
      display: inline;
      margin-right: 1em; }
    .navBar .menuContainer a {
      color: #525252;
      text-decoration: none;
      margin: 0 1em; }
    .navBar .menuContainer .logoContainer {
      display: inline-block;
      height: 3em;
      width: 3.75em; }
      .navBar .menuContainer .logoContainer img {
        width: 100%; }

.jobForm {
  width: 80%;
  background-color: #fff;
  margin: 2em 5% 2em 8%;
  padding: 1em;
  box-shadow: 0.5em 0.3em 0.3em #ccc;
  overflow: hidden; }
  .jobForm p {
    font-weight: bold; }
  .jobForm input {
    width: 100%;
    height: 2.5em; }
  .jobForm textarea {
    width: 100%;
    height: 10em; }
  .jobForm button {
    float: right;
    background-color: #41984B;
    border: none;
    border-radius: 3px;
    font-size: 1.3em;
    color: #F4F0BF;
    padding: .5em;
    margin: .7em 0; }

.jobTipsContainer {
  width: 80%;
  background-color: #fff;
  margin: 2em 5% 2em 8%;
  padding: 1em; }

.jobRowContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 2em; }
  .jobRowContainer .jobRow {
    width: 90%;
    margin: 0 auto; }
    .jobRowContainer .jobRow h2, .jobRowContainer .jobRow a {
      color: #073719;
      float: left;
      margin-top: .2em; }
    .jobRowContainer .jobRow .date {
      float: right;
      color: #999999; }
    .jobRowContainer .jobRow h3 {
      clear: both;
      color: #3D4637; }
      .jobRowContainer .jobRow h3 .location {
        font-weight: normal; }
    .jobRowContainer .jobRow p {
      color: #999999; }
    .jobRowContainer .jobRow .tag {
      color: #000;
      background-color: #FAFBE8;
      border: 1px solid #E0E565;
      padding: .4em; }
  .jobRowContainer hr {
    margin-top: 2em; }

.companyBoxContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #fff; }
  .companyBoxContainer h1 {
    margin: 1em 0 0 1em; }
  .companyBoxContainer .companyBox {
    text-align: center; }
    .companyBoxContainer .companyBox .imageContainer {
      width: 85%;
      margin: 0 auto; }
      .companyBoxContainer .companyBox .imageContainer .bgImage {
        width: 100%; }
      .companyBoxContainer .companyBox .imageContainer .logo {
        margin-top: -3.5em; }
    .companyBoxContainer .companyBox .name {
      color: #3A9C44;
      font-size: 2em;
      margin: 0; }
    .companyBoxContainer .companyBox .location {
      color: #676767;
      margin: 0 0 1em 0; }

@media screen and (min-width: 46.9em) {
  .jobForm {
    width: 50%;
    margin: 2em 0 2em 7%;
    float: left; }
  .jobTipsContainer {
    width: 27%;
    margin: 2em 7% 0 0;
    float: right; }
  .jobRowContainer {
    width: 50%;
    margin: 2em 0 2em 7%;
    float: left; }
  .companyBoxContainer {
    width: 29%;
    margin: 2em 7% 0 0;
    float: right; } }
