body {
  background-image: url(../images/bg.png);
  margin: 0; }

.navBar {
  border-top: 1em solid #525252;
  background-color: #fff;
  width: 100%;
  height: 6.25em;
  margin: 0; }
  .navBar .menuContainer {
    width: 80%;
    height: 6.25em;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bold; }
    .navBar .menuContainer h1 {
      display: inline;
      margin-right: 1em; }
    .navBar .menuContainer a {
      color: #525252;
      text-decoration: none;
      margin: 0 1em;
      vertical-align: middle; }
    .navBar .menuContainer .logoContainer {
      display: inline-block;
      height: 3em;
      width: 3.75em; }
      .navBar .menuContainer .logoContainer img {
        width: 100%; }

.jobForm {
  width: 50%;
  background-color: #fff;
  float: left;
  margin: 2em 0 2em 7%;
  padding: 1em;
  box-shadow: 0.5em 0.3em 0.3em #ccc; }
  .jobForm p {
    font-weight: bold; }
  .jobForm input {
    width: 100%;
    height: 2.5em; }
  .jobForm textarea {
    width: 100%;
    height: 10em; }
  .jobForm button {
    float: right;
    background-color: #41984B;
    border: none;
    border-radius: 3px;
    font-size: 1.3em;
    color: #F4F0BF;
    padding: .5em;
    margin: .7em 0; }

.jobTipsContainer {
  width: 30%;
  background-color: #fff;
  float: right;
  margin: 2em 7% 0 0;
  padding: 1em; }
